<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
<connectionStrings>
  <add name="strcon" connectionString="Data Source=DESKTOP-E9SGVT8;Initial Catalog=QL_THUCPHAM; User ID=sa;Password=01633845790" />
  <add name="QL_THUCPHAMConnectionString" connectionString="Data Source=DESKTOP-E9SGVT8;Initial Catalog=QL_THUCPHAM;Persist Security Info=True;User ID=sa;Password=01633845790"
    providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>
